@charset "utf-8";

body {
  background-color: var(--bg-body-color);
  box-sizing: border-box;
  font-family: var(--main-font);
}

/***** header *****/
header {
  display: flex;
  padding: 0 38px;
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

header h1 a img {
  width: 17px;
}

header .gnb-menu {
  display: flex;
  gap: 15px;
}

header .gnb-menu li {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--900-gray);
  cursor: pointer;
}

header .gnb-menu li:hover {
  color: var(--800-black);
}

/***** main *****/
main {
  padding: 0 14px;
}

/*** logitech-container ***/
main .logitech-container {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  padding: 24px 0;
  height: 100%;
}

main .logitech-container h2 {
  width: 158px;
  padding: 0 24px;
}

main .logitech-container .logitech-info {
  padding: 175px 24px 0;
}

main .logitech-container .logitech-info li {
  font-size: var(--mobile-font-xl);
  font-weight: 500;
  padding: 2px 0;
}

main .logitech-container .logitech-info li:first-child {
  font-weight: 600;
  color: #4682B4;
}

main .logitech-container .logitech-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 24px 21px 0;
}

main .logitech-container .logitech-text-box svg {
  width: 50px;
  padding-left: 24px;
}

main .logitech-container .logitech-text-box svg line {
  stroke-width: 100;
}

main .logitech-container .logitech-text-box p {
  font-size: var(--mobile-font-md);
  font-weight: 600;
}

main .logitech-container .slide-wrapper {
  display: flex;
  overflow: hidden;
}

main .logitech-container .slide-wrapper .slide-box ul {
  display: flex;
}

main .logitech-container .slide-wrapper .slide-box ul .slide-img {
  width: 340px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 20px;
}

main .logitech-container .slide-wrapper .slide-box ul .slide-img img {
  width: 100%;
  border-radius: 15px;
}

.slide-box.original {
  animation: rollingleft1 90s linear infinite;
}

.slide-box.clone {
  animation: rollingleft2 90s linear infinite;
}

@keyframes rollingleft1 {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  50.01% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes rollingleft2 {
  0% {
    transition: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

/*** about container ***/
main .about-container {
  background-color: var(--700-gray);
  border-radius: 20px;
  padding: 0 24px 24px;
  position: relative;
}

main .about-container h2 {
  font-size: var(--mobile-font-xl);
  color: var(--800-black);
  font-weight: 600;
  padding-top: 30px;
  text-transform: capitalize;
}

main .about-container p {
  font-size: var(--mobile-font-md);
  color: var(--800-black);
  font-weight: 400;
  line-height: 1.4;
  padding-top: 20px;
  padding-bottom: 30px;
}

main .about-container a {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--900-black);
  background-color: var(--bg-white-color);
  border-radius: 50px;
  padding: 7px 15px;
  position: absolute;
  right: 30px;
}

main .about-container a:hover {
  background-color: var(--900-black);
  color: var(--bg-white-color);
}

main .about-container .about-wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 290px 360px;
  background-color: var(--bg-white-color);
  border-radius: 20px;
  margin-top: 88px;
  height: 650px;
}

main .about-container .about-wrapper .about-menu {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  place-content: end;
  padding-left: 10px;
  padding-bottom: 30px;
}

main .about-container .about-wrapper .about-menu li {
  font-size: var(--mobile-font-sm);
  font-weight: 300;
  color: var(--800-gray);
  margin-top: 10px;
  cursor: pointer;
}

main .about-container .about-wrapper .about-menu li.active {
  color: #4682B4;
  font-weight: 600;
}

main .about-container .about-wrapper .about-logitech-box {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  width: 100%;
  border-left: 1px solid var(--700-gray);
}

main .about-container .about-wrapper .about-logitech-box li h2 {
  font-size: var(--mobile-font-xl);
  font-weight: 600;
  color: var(--800-black);
  padding: 40px 12px 0;
}

main .about-container .about-wrapper .about-logitech-box li p {
  font-size: var(--mobile-font-sm);
  font-weight: 400;
  color: var(--700-black);
  line-height: 1.5;
  padding: 18px 12px 0;
}

main .about-container .about-wrapper .about-logitech-box .about-content {
  display: none;
}

main .about-container .about-wrapper .about-logitech-box .about-content.active {
  display: block
}

main .about-container .about-wrapper .about-img {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  overflow: hidden;
  border-radius: 0 0 20px 20px;
  height: 360px;
}

main .about-container .about-wrapper .about-img li img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  object-position: center center;
}

main .about-container .about-wrapper .about-img li {
  display: none;
}

main .about-container .about-wrapper .about-img li.active {
  display: block;
}

/*** sustainability-container ***/
main .sustainability-container {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  padding: 0 24px;
}

main .sustainability-container h2 {
  font-family: var(--sub-font);
  font-size: var(--mobile-font-xxl);
  font-weight: 400;
  color: var(--800-black);
  padding-top: 60px;
  text-align: center;
}

main .sustainability-container p {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--700-black);
  padding-top: 20px;
  line-height: 1.4;
  text-align: center;
}

main .sustainability-container .sustainability-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-top: 5px;
  padding-bottom: 60px;
}

main .sustainability-container .sustainability-box li {
  text-align: center;
}

main .sustainability-container .sustainability-box li img {
  width: 70px;
  padding-top: 50px;
}

main .sustainability-container .sustainability-box li h3 {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--700-black);
  padding-top: 18px;
}

/*** sustainablity-desc ***/
main .sustainablity-desc {
  height: 4850px;
}

main .sustainablity-desc .plastic-article,
main .sustainablity-desc .fabric-article,
main .sustainablity-desc .aluminium-article,
main .sustainablity-desc .all-in-one-article,
main .sustainablity-desc .carbon-article {
  position: sticky;
  top: 0;
}

/* plastic-container, fabric-container, aluminium-container, all-in-one-container, carbon-container */
main .sustainablity-desc .plastic-container,
main .sustainablity-desc .fabric-container,
main .sustainablity-desc .aluminium-container,
main .sustainablity-desc .all-in-one-container,
main .sustainablity-desc .carbon-container {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  height: 970px;
  position: relative;
}

main .sustainablity-desc .plastic-container .plastic-wrapper,
main .sustainablity-desc .fabric-container .fabric-wrapper,
main .sustainablity-desc .aluminium-container .aluminium-wrapper,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper,
main .sustainablity-desc .carbon-container .carbon-wrapper {
}

main .sustainablity-desc .plastic-container .plastic-wrapper h2,
main .sustainablity-desc .fabric-container .fabric-wrapper h2,
main .sustainablity-desc .aluminium-container .aluminium-wrapper h2,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper h2,
main .sustainablity-desc .carbon-container .carbon-wrapper h2 {
  font-family: var(--sub-font);
  font-size: var(--mobile-font-xxl);
  font-weight: 500;
  color: var(--800-black);
  padding: 35px 24px 0 24px;
}

main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content,
main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content,
main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content,
main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content {
  display: flex;
  gap: 70px;
  padding: 50px 24px 0 24px;
}

main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content h3,
main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content h3,
main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content h3,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content h3,
main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content h3 {
  font-size: 36px;
  font-weight: 800;
  color: #4682B4;
}

main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content .plastic-box,
main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-box,
main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content .aluminium-box,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content .all-in-one-box,
main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content .carbon-box {
  display: block;
  position: relative;
}

main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content .plastic-box p,
main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content .fabric-box p,
main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content .aluminium-box p,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content .all-in-one-box p,
main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content .carbon-box p {
  font-size: var(--mobile-font-sm);
  font-weight: 400;
  color: var(--900-black);
  line-height: 1.4;
  padding-bottom: 25px;
}

main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content .plastic-box a,
main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content .fabric-box a,
main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content .aluminium-box a,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content .all-in-one-box a,
main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content .carbon-box a {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--bg-white-color);
  background-color: var(--600-black);
  border: 1px solid var(--600-black);
  border-radius: 50px;
  padding: 7px 15px;
  position: absolute;
  right: 0;
}

main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content .plastic-box a:hover,
main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content .fabric-box a:hover,
main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content .aluminium-box a:hover,
main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content .all-in-one-box a:hover,
main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content .carbon-box a:hover {
  background-color: var(--bg-white-color);
  border: 1px solid var(--600-black);
  color: var(--600-black);
}

main .sustainablity-desc .plastic-container img,
main .sustainablity-desc .fabric-container img,
main .sustainablity-desc .aluminium-container img,
main .sustainablity-desc .all-in-one-container img,
main .sustainablity-desc .carbon-container img {
  width: 100%;
  height: 540px;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 20px 20px;
}

main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-wrapper .all-in-one-box p:first-child {
  padding-bottom: 15px;
}

/*** partner-container ***/
main .partner-container {
  background-color: var(--700-gray);
  padding: 30px 24px;
  border-radius: 20px;
}

main .partner-container h2 {
  font-family: var(--sub-font);
  font-size: var(--mobile-font-xl);
  font-weight: 500;
  color: var(--800-black);
}

main .partner-container p {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--600-black);
  padding-top: 15px;
  line-height: 1.4;
}

main .partner-container .partner-wrapper .microsoft-content {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  margin-top: 100px;
  height: 270px;
  padding: 20px;
  display: block;
  position: relative;
}

main .partner-container .partner-wrapper .google-content,
main .partner-container .partner-wrapper .zoom-content {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  margin-top: 30px;
  height: 270px;
  padding: 20px;
  display: block;
  position: relative;
}

main .partner-container .partner-wrapper .microsoft-content h3,
main .partner-container .partner-wrapper .google-content h3,
main .partner-container .partner-wrapper .zoom-content h3 {
  font-size: var(--mobile-font-lg);
  font-weight: 500;
  background-color: var(--700-gray);
  width: 130px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50px;
}

main .partner-container .partner-wrapper .microsoft-content p,
main .partner-container .partner-wrapper .google-content p,
main .partner-container .partner-wrapper .zoom-content p {
  font-size: var(--mobile-font-sm);
  font-weight: 300;
  color: var(--700-black);
  line-height: 1.4;
  position: absolute;
  bottom: 20px;
  padding-right: 20px;
}

/***** footer *****/
footer {
  background-color: var(--bg-darkgray-color);
  padding: 50px 24px;
  border-radius: 20px;
  margin-bottom: 30px;
}

footer .sub-gnb {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-bottom: 50px;
  border-bottom: 2px solid #777;
  padding: 0 24px 50px 24px;
}

footer .sub-gnb .info-gnb {
  grid-row: 1 / 3;
}

footer .sub-gnb .info-gnb li:first-child {
  padding: 0;
  font-weight: 600;
}

footer .sub-gnb .info-gnb li {
  color: var(--bg-white-color);
  font-size: var(--mobile-font-sm);
  font-weight: 400;
  padding-top: 20px;
}

footer .sub-gnb .value-gnb {
  justify-self: flex-end;
  padding-right: 24px;
}

footer .sub-gnb .value-gnb li:first-child {
  padding: 0;
  font-weight: 600;
}

footer .sub-gnb .value-gnb li {
  color: var(--bg-white-color);
  font-size: var(--mobile-font-sm);
  font-weight: 400;
  padding-top: 20px;
}

footer .sub-gnb .customer-gnb {
  justify-self: flex-end;
  align-self: flex-end;
  padding-right: 24px;
}

footer .sub-gnb .customer-gnb li:first-child {
  font-weight: 600;
}

footer .sub-gnb .customer-gnb li {
  color: var(--bg-white-color);
  font-size: var(--mobile-font-sm);
  font-weight: 400;
  padding-bottom: 20px;
}

footer .sub-gnb .info-gnb li:hover,
footer .sub-gnb .value-gnb li:hover,
footer .sub-gnb .customer-gnb li:hover {
  text-decoration: underline;
}

footer .sub-gnb .info-gnb li:first-child:hover,
footer .sub-gnb .value-gnb li:first-child:hover,
footer .sub-gnb .customer-gnb li:first-child:hover {
  text-decoration: none;
}

footer .news-container {
  padding: 28px 20px;
  border-bottom: 2px solid #777;
}

footer .news-container .sns-box {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

footer .news-container .sns-box li:nth-child(1) {
  width: 19px;
}

footer .news-container .sns-box li:nth-child(2) {
  width: 29px;
}

footer .news-container .sns-box li:nth-child(3) {
  width: 26px;
}

footer .news-container .email-box {
  display: flex;
}

footer .news-container .email-box label {
  width: 100%;
}

footer .news-container .email-box label input {
  width: 100%;
  height: 40px;
  border: none;
}

footer .news-container .email-box button {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background-color: var(--700-gray);
}

footer .news-container .email-box button:hover {
  opacity: 0.8;
}

footer .news-container .email-check {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

footer .news-container .email-check p {
  font-size: var(--mobile-font-xs);
  font-weight: 300;
  color: var(--700-gray);
  margin-left: 12px;
  line-height: 1.3;
}

footer .news-container .email-check p a {
  font-weight: 500;
  text-decoration: underline;
}

footer .news-container .email-check p a:hover {
  text-decoration: none;
}

footer .news-container .clause {
  padding-top: 40px;
  text-align: center;
  color: var(--700-gray);
  font-size: var(--mobile-font-sm);
  font-weight: 300;
  line-height: 1.2;
}

footer .news-container .clause a:hover {
  text-decoration: underline;
}

footer .footer-text {
  padding: 30px 20px 70px;
  position: relative;
}

footer .footer-text h2 img {
  width: 67px;
  padding-bottom: 30px;
}

footer .footer-text p {
  font-size: var(--mobile-font-xs);
  font-weight: 300;
  color: var(--700-gray);
}

footer .footer-text p a {
  font-weight: 500;
  text-decoration: underline;
}

footer .footer-text p a:hover {
  text-decoration: none;
}

footer .footer-text address {
  padding: 15px 0;
  font-size: var(--mobile-font-xs);
  font-weight: 300;
  color: var(--700-gray);
  font-style: normal;
  line-height: 1.2;
}

footer .footer-text .github {
  position: absolute;
  bottom: -25px;
  right: 0;
  font-size: var(--mobile-font-md);
  font-weight: 300;
  color: var(--bg-white-color);
}

footer .footer-text .github:hover {
  text-decoration: underline;
}