@charset "utf-8";
/***** pc ver *****/
@media screen and (min-width: 1200px) {

  /***** header *****/
  header {
    padding: 0 64px;
    height: 45px;
  }

  header h1 a img {
    width: 20px;
  }

  header .gnb-menu li {
    font-size: var(--web-font-xs);
  }

  /***** main *****/
  main {
    padding: 0 32px;
  }

  /*** logitech-container ***/
  main .logitech-container {
    padding: 35px 0;
    height: calc(100vh - 45px);
  }

  main .logitech-container h2 {
    padding-left: 32px;
  }

  main .logitech-container .logitech-info {
    padding: 150px 32px 0;
    /* padding-top: 150px; */
  }

  main .logitech-container .logitech-info li {
    font-size: var(--web-font-lg);
    padding: 3px 0;
  }

  main .logitech-container .logitech-text-box {
    padding-top: 0px;
  }

  main .logitech-container .logitech-text-box p {
    font-size: var(--web-font-md);
    padding-bottom: 20px;
  }

  main .logitech-container .slide-wrapper .slide-box ul .slide-img {
    width: 500px;
  }

  main .logitech-container .logitech-text-box svg {
    width: 500px;
  }

  main .logitech-container .logitech-text-box svg line {
    stroke-width: 40;
  }

  /*** about-container ***/
  main .about-container {
    padding: 32px 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  main .about-container h2 {
    font-size: var(--web-font-lg);
    padding: 0;
  }

  main .about-container .about-desc p {
    font-size: var(--web-font-sm);
    padding: 0 15px 15px;
  }

  main .about-container .about-desc a {
    right: 50px;
    font-size: var(--web-font-xs);
    padding: 10px 18px;
  }

  main .about-container .about-wrapper {
    height: 650px;
  }

  main .about-container .about-wrapper .about-menu {
    width: 30%;
    max-width: 250px;
    padding-left: 20px;
  }

  main .about-container .about-wrapper .about-menu li {
    font-size: var(--web-font-xs);
  }

  main .about-container .about-wrapper .about-logitech-box {
    width: 70%;
    min-width: calc(100% - 250px);
  }

  main .about-container .about-wrapper .about-logitech-box li h2 {
    font-size: var(--web-font-lg);
    padding: 70px 0 50px 20px;
  }

  main .about-container .about-wrapper .about-logitech-box li p {
    font-size: var(--web-font-xs);
    padding: 0 20px 32px 20px;
  }

  /*** sustainability-container ***/
  main .sustainability-container {
    padding: 0 32px;
  }

  main .sustainability-container h2 {
    font-size: var(--web-font-xl);
    text-align: center;
    padding-top: 100px;
  }

  main .sustainability-container p {
    font-size: var(--web-font-md);
    text-align: center;
    padding-top: 15px;
  }

  main .sustainability-container .sustainability-box {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 90px;
  }

  main .sustainability-container .sustainability-box li img {
    width: 120px;
    padding-top: 85px;
  }

  main .sustainability-container .sustainability-box li h3 {
    font-size: var(--web-font-md);
    padding-top: 22px;
  }

  /*** sustainablity-desc ***/
  main .sustainablity-desc {
    height: 500vh;
  }

  /* plastic-container, fabric-container, aluminium-container, all-in-one-container, carbon-container */
  main .sustainablity-desc .plastic-container,
  main .sustainablity-desc .fabric-container,
  main .sustainablity-desc .aluminium-container,
  main .sustainablity-desc .all-in-one-container,
  main .sustainablity-desc .carbon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  main .sustainablity-desc .plastic-container .plastic-wrapper,
  main .sustainablity-desc .fabric-container .fabric-wrapper,
  main .sustainablity-desc .aluminium-container .aluminium-wrapper,
  main .sustainablity-desc .all-in-one-container .all-in-one-wrapper,
  main .sustainablity-desc .carbon-container .carbon-wrapper {
    grid-column: 1 / 2;
  }

  main .sustainablity-desc .plastic-container .plastic-wrapper h2,
  main .sustainablity-desc .fabric-container .fabric-wrapper h2,
  main .sustainablity-desc .aluminium-container .aluminium-wrapper h2,
  main .sustainablity-desc .all-in-one-container .all-in-one-wrapper h2,
  main .sustainablity-desc .carbon-container .carbon-wrapper h2 {
    font-size: var(--web-font-xl);
    padding: 70px 0 0 32px;
  }

  main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content,
  main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content,
  main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content,
  main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content,
  main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content {
    position: absolute;
    bottom: 180px;
    width: 50%;
    padding: 0 32px 0 0;
    gap: 250px;
  }

  main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content h3,
  main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content h3,
  main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content h3,
  main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content h3,
  main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content h3 {
    font-size: 64px;
    padding-left: 32px;
  }

  main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content .plastic-box p,
  main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content .fabric-box p,
  main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content .aluminium-box p,
  main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content .all-in-one-box p,
  main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content .carbon-box p {
    font-size: var(--web-font-xs);
  }

  main .sustainablity-desc .plastic-container .plastic-wrapper .plastic-content .plastic-box a,
  main .sustainablity-desc .fabric-container .fabric-wrapper .fabric-content .fabric-box a,
  main .sustainablity-desc .aluminium-container .aluminium-wrapper .aluminium-content .aluminium-box a,
  main .sustainablity-desc .all-in-one-container .all-in-one-wrapper .all-in-one-content .all-in-one-box a,
  main .sustainablity-desc .carbon-container .carbon-wrapper .carbon-content .carbon-box a {
    padding: 10px 18px;
  }

  main .sustainablity-desc .plastic-container img,
  main .sustainablity-desc .fabric-container img,
  main .sustainablity-desc .aluminium-container img,
  main .sustainablity-desc .all-in-one-container img,
  main .sustainablity-desc .carbon-container img {
    grid-column: 2 / 3;
    width: 100%;
    height: 100%;
    border-radius: 0 20px 20px 0;
  }

  /*** partner-container ***/
  main .partner-container {
    padding: 55px 32px 30px;
  }

  main .partner-container h2 {
    font-size: var(--web-font-xl);
  }

  main .partner-container p {
    font-size: var(--web-font-md);
  }

  main .partner-container .partner-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
    padding-top: 105px;
  }

  main .partner-container .partner-wrapper .microsoft-content,
  main .partner-container .partner-wrapper .google-content,
  main .partner-container .partner-wrapper .zoom-content {
    margin: 0;
    height: 450px;
  }

  main .partner-container .partner-wrapper .microsoft-content h3,
  main .partner-container .partner-wrapper .google-content h3,
  main .partner-container .partner-wrapper .zoom-content h3 {
    font-size: var(--web-font-md);
    width: 160px;
    height: 40px;
    line-height: 40px;
  }

  main .partner-container .partner-wrapper .microsoft-content p,
  main .partner-container .partner-wrapper .google-content p,
  main .partner-container .partner-wrapper .zoom-content p {
    font-size: var(--web-font-xs);
  }

  /***** footer *****/
  footer {
    padding: 0 32px;
  }

  footer .sub-gnb {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 60px 27px;
    width: 780px;
    border: none;
  }

  footer .sub-gnb .info-gnb {
    padding-left: 20px;
  }

  footer .sub-gnb .info-gnb li,
  footer .sub-gnb .value-gnb li {
    font-size: var(--web-font-xs);
    padding-top: 22px;
  }

  footer .sub-gnb .value-gnb {
    justify-self: flex-start;
    padding-left: 20px;
  }

  footer .sub-gnb .customer-gnb {
    justify-self: flex-start;
    align-self: flex-start;
    padding-left: 20px;
  }

  footer .sub-gnb .customer-gnb li {
    font-size: var(--web-font-xs);
  }

  footer .news-container {
    border-top: 2px solid #777;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 32px 0 32px 47px;
  }

  footer .news-container .sns-box {
    justify-self: flex-start;
  }

  footer .news-container .email-box {
    justify-self: center;
    align-self: flex-end;
  }

  footer .news-container .email-box label {
    width: 320px;
  }

  footer .news-container .email-box label input {
    width: 320px;
    height: 50px;
  }

  footer .news-container .email-box button {
    width: 50px;
    height: 50px;
  }

  footer .news-container .email-box button img {
    width: 15px;
  }

  footer .news-container .email-check {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: flex-start;
    align-items: center;
    padding-top: 20px;
    width: 370px;
  }

  footer .news-container .email-check p {
    font-size: var(--web-font-xxs);
  }

  footer .news-container .clause {
    justify-self: flex-start;
    align-self: center;
    padding: 0;
    font-size: var(--web-font-xxs);
  }

  footer .footer-text {
    padding: 34px 0 34px 47px;
  }

  footer .footer-text h2 img {
    width: 86px;
    padding-bottom: 38px;
  }

  footer .footer-text p {
    font-size: var(--web-font-xxs);
  }

  footer .footer-text address {
    font-size: var(--web-font-xxs);
  }

  footer .footer-text .github {
    font-size: var(--web-font-xs);
    bottom: 20px;
    right: 10px;
  }
}