@charset "utf-8";

body {
  background-color: var(--bg-body-color);
  box-sizing: border-box;
  font-family: var(--main-font);
}

/***** header *****/
header {
  display: flex;
  padding: 0 38px;
  justify-content: space-between;
  align-items: center;
  height: 43px;
}

header h1 a img {
  width: 17px;
}

header .gnb-menu {
  display: flex;
  gap: 15px;
}

header .gnb-menu li {
  font-size: var(--mobile-font-md);
  font-weight: 400;
  color: var(--900-gray);
  cursor: pointer;
}

header .gnb-menu li:hover {
  color: var(--800-black);
}

/***** main *****/
main {
  padding: 0 14px;
}
/*** logitech-container ***/
main .logitech-container {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  padding: 24px;
  height: 100%;
  overflow: hidden;
}

main .logitech-container h2 {
  width: 158px;
}

main .logitech-container .logitech-info {
  padding-top: 175px;
}

main .logitech-container .logitech-info li {
  font-size: var(--mobile-font-xl);
  font-weight: 500;
  padding: 2px 0;
}

main .logitech-container .logitech-info li:first-child {
  font-weight: 600;
  color: #4682B4;
}

main .logitech-container .slide-box {
  display: flex;
  gap: 20px;
  width: 900%;
}

main .logitech-container .logitech-text-box {
  display: flex;
  justify-content: space-between;
  padding: 45px 0 21px;
}

main .logitech-container .logitech-text-box p {
  font-size: var(--mobile-font-md);
  font-weight: 400;
}

main .logitech-container .slide-box li img {
  width: 100%;
  border-radius: 15px;
}